/* GLOBAL */

:root {
  --page-max-w: 1366px;
  --stone-50: #fafafa;
  --stone-100: #f5f5f5;
  --stone-200: #e5e5e5;
  --stone-300: #d4d4d4;
  --stone-400: #a3a3a3;
  --stone-500: #737373;
  --stone-600: #525252;
  --stone-700: #404040;
  --stone-800: #262626;
  --stone-900: #171717;
  --stone-950: #0a0a0a;
}
html {
  font-size: 16px;
}
body {
  background-color: var(--stone-950);
  color: var(--stone-300);
  font-family: sans-serif;
  margin: 0 auto;
  max-width: var(--page-max-w);
}

main {
  padding: 0 16px;
}

.btn {
  display: block;
  border: 1px solid var(--stone-700);
  padding: 8px 16px;
  border-radius: 32px;
  background: var(--stone-950);
  color: var(--stone-300);
  cursor: pointer;
  margin: 16px auto;
}
.btn:hover {
  background: var(--stone-800);
}
.btn:active,
.btn:focus-visible {
  background: var(--stone-700);
}

.btn-flat {
  background-color: var(--stone-800);
  color: var(--stone-200);
}
.btn-flat:hover {
  background-color: var(--stone-700);
}

button:disabled,
input[type="submit"]:disabled {
  cursor: default;
  color: var(--stone-500);
  border-color: var(--stone-900);
  opacity: 0.7;
}

svg.icon {
  color: var(--stone-600);
  fill: currentColor;
  width: 32px;
}

input {
  color: var(--stone-300);
  display: block;
  width: 100%;
  background: transparent;
  padding: 8px;
  border: none;
  outline: none;
}

/* Header */
header {
  border-bottom: 1px solid var(--stone-800);
  position: sticky;
  top: 0;
  background: var(--stone-950);
}
.header-container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-size: 2rem;
  text-decoration: none;
  color: var(--stone-100);
}
.logo .m {
  color: greenyellow;
  font-weight: bold;
}
.logo .m.m-2 {
  font-size: 2.4rem;
}
.profile {
  display: flex;
  align-items: center;
  border: 2px solid var(--stone-800);
  padding: 8px;
  border-radius: 32px;
}
.profile .avatar {
  height: 32px;
  width: 32px;
  object-fit: cover;
  border-radius: 50%;
  overflow: hidden;
  outline: 2px solid var(--stone-300);
}
.profile span {
  display: inline-block;
  margin-left: 8px;
}

/* AuthForm */
.login-container {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  text-align: center;
  line-height: 2.5;
}
.login-container .container {
  width: 90%;
  max-width: 600px;
}

.login-container .btn {
  color: greenyellow;
}
/* Library */
.explore {
  min-height: 100vh;
  width: 100%;
  padding-bottom: 9rem;
}
.explore .search-container,
.explore .playlist-container {
  width: 90%;
  max-width: 900px;
  margin: auto;
  padding: 2rem 16px;
}

.search-bar .input-container {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
  padding: 8px 16px;
  border: 1px solid var(--stone-800);
  border-radius: 32px;
}
.search-bar .input-container:hover,
.search-bar .input-container:focus-visible {
  border-color: var(--stone-300);
}

.search-results h2 {
  text-align: center;
  margin: 2rem 0;
}

/* Track */
.track {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  align-items: center;
  padding: 8px 16px;
  border-bottom: 1px solid var(--stone-800);
}
.track.playing {
  background: var(--stone-900);
}
.track .media-info {
  grid-column: 2 / span 4;
  display: flex;
  width: 100%;
  align-items: center;
}
.track .media-info .info {
  margin-left: 8px;
}
.track .title {
  grid-column: 6 / span 3;
}
.track .poster {
  width: 64px;
  height: 64px;
}
.track .poster img {
  max-width: none;
}

.track .artist {
  color: var(--stone-500);
}

.track .icon {
  cursor: pointer;
  vertical-align: text-top;
}
.track .icon-play {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid var(--stone-700);
}

.track .icon:hover,
.track .icon:focus-visible,
.track .icon:active {
  color: var(--stone-300);
}
/* AudioPlayer */

.audio-player {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  border: 1px solid var(--stone-700);
  background-color: var(--stone-900);
}
.player-container {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(9, 1fr);
  padding: 16px 32px;
}

.player-container .track-title {
  grid-column: 2 / span 4;
}
.player-container audio {
  grid-column: 6 / span 4;
  opacity: 0.5;
}
.player-container audio,
.player-container span,
.player-container img {
  display: inline-block;
  margin: 8px;
}
.player-container span {
  max-width: 200px;
}

/* create playlist */
.playlist-container {
  border: 2px solid var(--stone-900);
  border-radius: 16px;
}
.playlist-container h2 {
  text-align: center;
}
.playlist-container form {
  display: flex;
  align-items: center;
}
.playlist-container form input[type="text"] {
  font-size: 2rem;
  border-bottom: 1px solid var(--stone-800);
  max-width: 500px;
}
.playlist-container form input.btn {
  width: fit-content;
}
